@using Microsoft.AspNetCore.Components.Forms
@using MongoOptions.Blazor.Components.Css
@inject MongoConfigRegistry Registry

<CssMonitor/>

<div class="mb-options-panel">
     <div class="mb-select-class">
    <InputSelect @bind-Value="_selectedType" TValue="string">
        <option value="">-- Select a Config to Edit --</option>
        @foreach (var config in Registry.GetConfigs())
        {
            <option value="@config.AssemblyQualifiedName">@config.Name</option>
        }
    </InputSelect>
    </div>
    <DynamicComponent Type="typeof(ConfigSelector<>).MakeGenericType(useType ?? typeof(object))" Parameters="@( new Dictionary<string, object> {
                ["Enabled"] = useType != null
                })"/>
</div>

@code {
    private string? _selectedType
    {
        get { return ""; }
        set
        {
            OnTypeSelected(value);
        }
    }
    private Type? useType { get; set; }

    private void OnTypeSelected(string? typestring)
    {
        if (typestring != null)
        {
            useType = Type.GetType(typestring, false, false);
        }
    }
}

<style>
    .mb-options-panel
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "class config"
            "body body";
        gap: .25rem;
    }

    .mb-select-class
    {
        display: grid;
        grid-area: class;
    }
</style>