@using Microsoft.AspNetCore.Components.Forms
@using MongoOptions.Blazor.Components.Css
@using Fragments
@using MongoOptions.Interfaces
@inject MongoConfigRegistry Registry

<CssMonitor/>

<div class="mb-options-panel">
     <div class="mb-select-class">
    <InputSelect @bind-Value="SelectedType" TValue="string">
        <option value="">-- Select a Config to Edit --</option>
        @foreach (var config in Registry.GetConfigs())
        {
            <option value="@config.Name">@config.Name</option>
        }
    </InputSelect>
    </div>
    @if (config != null)
    {
    @* <DynamicComponent Type="typeof(ConfigSelector<>).MakeGenericType(useType ?? typeof(object))" Parameters="@( new Dictionary<string, object> {
                ["Enabled"] = useType != null,
                ["Instance"] = Registry.GetInstance(useType)
                })"/> *@
    @((RenderFragment)config.Dispatcher(null, new ConfigSelectorFragmentDispatcher()));
    }
</div>

@code {
    private string? _selectedType = "";
    private string? SelectedType
    {
        get { return _selectedType; }
        set
        {
            _selectedType = value;
            OnTypeSelected(value);
        }
    }
    private IConfigFile? config { get; set; }

    private void OnTypeSelected(string? typestring)
    {
        if (typestring != null)
        {
            config = Registry.GetInstance(typestring);
        }
    }
}

<style>
    .mb-options-panel
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "class config"
            "body body";
        gap: .25rem;
    }

    .mb-select-class
    {
        display: grid;
        grid-area: class;
    }
</style>