@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Options
@using MongoOptions.Services
@using MongoOptions.Interfaces
@typeparam T where T : class, IConfigFile, new()
@inject IOptionsMonitor<T> OptionsAccessor
@inject IConfigManager ConfigManager
@inject MongoConfigRegistry registry

<div class="mb-select-config">
    <div class="">
        <InputSelect class="form-select" @bind-Value="SelectedKey" disabled="@Disabled">
            <option value="SELECT">Select a Configuration to Edit</option>
            @foreach (var key in _availableKeys)
            {
                bool isSelected = key == _selectedKey;
                <option value="@key">@key</option>
            }
            <option value="NEW_CONFIG">+ Create New...</option>
        </InputSelect>
    </div>
</div>

@if (_editingModel != null && Enabled)
{
    <div class="mb-editor">
    <ConfigEditor T="T"
                  SettingsObject="_editingModel"
                  ConfigName="@_selectedKey"
                  OnSave="HandleSave" />
    </div>
}

<style>
    .mb-select-config
    {
        display: grid;
        grid-area: config;
    }

    .mb-editor {
        display: grid;
        grid-area: body;
    }
</style>
@code {
    private List<string> _availableKeys = new();
    private string _selectedKey = "SELECT";
    private string SelectedKey
    {
        get => _selectedKey;
        set
        {
            _selectedKey = value;
            OnSelectionChanged(value);
        }
    }

    [Parameter] public bool Enabled { get; set; } = true;
    private bool Disabled { get => !Enabled; }

    private T? _editingModel = default;

    protected override async Task OnInitializedAsync()
    {
        await LoadKeys();
    }

    private async Task LoadKeys()
    {
        var keys = await ConfigManager.GetKeys<T>();
        if (!keys.Contains("Default")) keys.Insert(0, "Default");
        _availableKeys = keys;
    }

    private void LoadSelectedConfig()
    {
        _editingModel = OptionsAccessor.Get(_selectedKey);
    }

    private void OnSelectionChanged(string e)
    {
        var val = e; //.Value?.ToString();
        if (val == "NEW_CONFIG")
        {
            _selectedKey = "";
            _editingModel = new T();
        }
        else if (val == "SELECT")
        {
            _editingModel = default;
        }
        else
        {
            _selectedKey = val ?? "Default";
            LoadSelectedConfig();
        }
    }

    private async Task HandleSave((string Name, T Value) data)
    {
        try
        {
            await ConfigManager.UpdateConfigAsync(data.Name, data.Value);
            //await InvokeAsync(StateHasChanged);
        }
        catch
        {
            Console.WriteLine("yep it errored");
        }
        await LoadKeys();
    }
}