@typeparam TItem
@using System.Reflection
@using Microsoft.AspNetCore.Components.Forms
@using MongoOptions.Blazor.Fragments
@using MongoOptions.Interfaces
@using MongoOptions.Types

<div class="mb-list-editor p-3 mb-3">
    @foreach (var (item, index) in Items.Select((value, i) => (value, i)))
    {   
        <div class="mb-list-item">
            <div class="me-2 mt-1 mb-list-index">@index:</div>
            <div class="">   
                @if (typeof(TItem).IsPrimitive || typeof(TItem) == typeof(string))
                {
                <input class="form-control"
                       value="@item"
                       @onchange="@(e => UpdateItem(index, e.Value))" />
                } else
                {
                    var nested = Items[index];
                    if (nested is IConfigFile value)
                    {
                        @((RenderFragment)value.Dispatcher(value, new ValueEditorFragmentDispatcher()))
                    }
                }
            </div>
            <button type="button" class="btn btn-danger btn-sm ms-2 mb-item-button"
                        @onclick="@(() => RemoveItem(index))">
                    ✕
            </button>
        </div>
    }
    <button type="button" class="mb-list-add btn btn-primary btn-sm" @onclick="AddItem">+ Add Item</button>
</div>

<style>
    .mb-list-editor
    {
        display: flex;
        flex-direction: column;
    }

    .mb-list-item
    {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 5px 0px 5px 0px;
    }
    
    .mb-list-index
    {
        align-content: center;
    }

    .mb-item-button {
        margin: 5px 0;
    }
</style>

@code {
    [Parameter] public List<TItem> Items { get; set; }
    [Parameter] public PropertyMetadata prop { get; set; }
    [CascadingParameter] public EditContext CurrentContext { get; set; } = default!;

    private void UpdateItem(int index, object? value)
    {
        Items[index] = (TItem)FlexibleConvert(value, typeof(TItem))!;
        CurrentContext.NotifyFieldChanged(new FieldIdentifier(Items, ""));
    }

    private void AddItem()
    {
        Items.Add((TItem)prop.NewTypePropertyOne());
    }

    private void RemoveItem(int index)
    {

        Items.RemoveAt(index);
        CurrentContext.NotifyValidationStateChanged();
    }

    /// <summary>
    /// Converts an object to the specified target type with support for Guids and enums.
    /// </summary>
    /// <param name="value">The value to convert.</param>
    /// <param name="targetType">The target type to convert to.</param>
    /// <returns>The converted object.</returns>
    public object? FlexibleConvert(object? value, Type targetType)
    {
        if (value == null || value.ToString() == "") return null;

        if (targetType == typeof(Guid))
            return Guid.Parse(value.ToString()!);
        if (targetType.IsEnum)
            return Enum.Parse(targetType, value.ToString()!);

        return value;
    }
}